<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AutoMapper" version="4.2.0" targetFramework="net46" />
  <package id="Dapper" version="1.42" targetFramework="net46" />
  <package id="Dapper.Extensions.Linq" version="1.1.11" targetFramework="net46" />
  <package id="Dapper.Extensions.Linq.Core" version="1.0.4" targetFramework="net46" />
</packages>